.navbar {
  display: flex;
  justify-content: center;
  // padding: 20px;
  width: 100%;
  z-index: 999;

  &.sticky {
    // display: flex;
    // justify-content: space-between;
    // padding: 20px;
    background-color: #ccc;
    width: 100%;
    position: fixed;
    top: 0;
    animation: stickyHeader 0.3s ease;
    // backwards
    // transition: all 1s ease;
  }

  .navbarContent {
    padding: 20px;

    width: 70%;
    // background-color: blue;
    display: flex;
    justify-content: space-between;

    .left {
      // color: gray;

      img {
        width: 60px;
      }
    }
    .center {
      font-size: 1.25em;
      font-weight: 700;
      display: flex;
      gap: 10px;

      @media screen and (max-width: 480px) {
        display: none;
      }

      .categories {
        position: relative;
        // background-color: yellowgreen;
        display: flex;
        gap: 10px;

        .categoriesMenu {
          position: absolute;
          left: 0;
          top: 20px;
          width: 222px;
          // height: 200px;
          background-color: white;

          ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            padding: 1rem;
            list-style: none;

            li a {
              display: flex;
              justify-content: space-between;

              &:hover {
                cursor: pointer;
                background-color: rgba(128, 128, 128, 0.2);
              }
            }
          }
        }
      }
    }
    .right {
      display: flex;
      gap: 20px;
      .fav {
        position: relative;
        cursor: pointer;
        font-size: 1.25rem;

        .totalFav {
          position: absolute;
          right: -12px;
          top: -12px;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;

          color: white;
          border-radius: 50%;
          padding: 3px;
        }
      }
      .cart {
        position: relative;
        cursor: pointer;
        display: flex;
        gap: 10px;
        font-size: 1.25em;

        .qty {
          position: absolute;
          right: -12px;
          top: -12px;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          background-color: red;
          color: white;
          border-radius: 50%;
          padding: 3px;
        }
      }
    }
  }

  .cartPopup {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .cartItems {
    animation: cartWindow 0.2s ease-in-out;
    // padding: 20px;
    background-color: white;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);

    right: 0;
    top: 0;
    height: 100%;

    width: 350px;
    min-height: 100vh;
    position: absolute;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .back {
      display: flex;
      gap: 20px;
      padding: 20px;
      justify-content: space-between;

      b {
        color: red;
      }
    }

    .cartItem {
      display: flex;
      padding: 0 20px;

      .left {
        flex: 1;
        img {
          width: 80%;
          background-color: rgba(0, 0, 0, 0.1);
          border-radius: 10px;
          height: 50px;
          object-fit: cover;
        }
      }
      .right {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .namePrice {
          display: flex;
          justify-content: space-between;
        }
        .qtyRemove {
          display: flex;
          justify-content: space-between;

          .qty {
            button {
              padding: 5px;
              width: 28px;
              height: 28px;
              border: 1px solid red;
              background: transparent;
            }
            span {
              padding: 10px;
            }
          }
          .remove {
            color: red;
            cursor: pointer;
          }
        }
      }
    }

    .subTotal {
      display: flex;
      justify-content: space-between;
      font-weight: 800;
      font-size: 1.25rem;
      margin-top: 20px;
      margin-bottom: 10px;
      padding: 20px;
      position: absolute;
      bottom: 57px;
      width: 100%;
    }

    .btn {
      flex: 1;
      position: absolute;
      bottom: 0px;
      display: flex;
      // background-color: yellow;
      width: 100%;
      padding: 20px;

      a,
      button {
        color: white;
        background-color: red;
        border: none;
        padding: 10px 20px;
        border-radius: 10px;
        width: 100%;
        text-align: center;
      }
    }
  }
}

@keyframes stickyHeader {
  0% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes sliceSearchWindow {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes cartWindow {
  0% {
    transform: translateX(100%);
    opacity: 0.1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
