.heroBanner {
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    // height: 500px;
    width: 100%;

    .next {
      background-color: yellow;
      color: blue;
    }
    .prev {
    }

    .item {
      position: relative;

      .legend {
        position: absolute !important;
        background-color: rgba(255, 255, 255, 0.8) !important;

        color: red !important;
        // left: -100px !important;
        left: 0px;
        bottom: 10%;
        z-index: 999 !important;
        // width: 300px !important;
        // height: 300px !important;
        padding: 20px 40px;
      }
    }
  }
}
