.categories {
  display: flex;
  flex-direction: column;

  .products {
    flex: 1;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .paging {
    padding: 10px;
    margin-top: 10px;
    flex: 1;
    // background-color: blue;
    display: flex;
    justify-content: center;

    button {
      padding: 5px 10px;
      margin: 10px;
    }
  }
}
